.app {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
        background: linear-gradient(45deg, #141414, rgb(58, 57, 57));
        width: 500px;
        border: 1px solid red;
        box-shadow: 0 0 15px red;
        margin: 15px;
        padding: 0 15px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p{
            font-size: 20px;
        }

        button {
            padding: 5px 10px;
            cursor: pointer;
            background-color: #141414;
            box-shadow: 0 0 5px rgb(135, 7, 7);
            color: white;
            border: none;
            font-size: 20px;
            transition: all 0.5s;
            
            &:hover{
                box-shadow: 0 0 25px rgb(135, 7, 7);
                
            }
        }
    }
}
